* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple url("/images/bg.svg") center/cover;
    overflow: hidden;
  } */
  input:focus{
      text-decoration: none;
      outline: none;
      box-shadow: none;
  }
  .modal-header{
      position: absolute;
      z-index: 20;
      margin: 0;
      padding: 0;
  }
  .x{
    font-size: 2rem;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }
  .close{
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    }
    .close:focus{
        outline:none;
        border: none;
        text-decoration: none;
    }
   .card {
    position: relative;
    margin: auto;
    height: 27rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: purple url("/images/bg.svg") center/cover;  */
     background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)),
      url("/assets/img/credit card 3.jpg")
    ; 
    background-size: cover;
    background-position: center;
    overflow: visible;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,
      1px 1px 2px #555;
    backdrop-filter: blur(0.8rem);
    padding: 1.5rem;
    border-radius: .5rem;
    /* animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter; */
  } 
  
  .card__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  
  .card__title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #1d005f;
    margin: 1rem 0 1.5rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .card__col {
    padding-right: 2rem;
  }
  
  .card__input {
    background: none;
    border: none;
    border-bottom: dashed 0.2rem rgba(255, 255, 255, 0.15);
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  .card__input--large {
    font-size: 2rem;
  }
  .card__input--large1 {
    font-size: 1rem;
  }
  
  .card__input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  
  .card__input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  .card__label {
    display: block;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }
  
  .card__chip {
    align-self: flex-end;
  }
  
  .card__chip img {
    width: 3rem;
  }
  
  .card__brand {
    font-size: 3rem;
    color: #fff;
    min-width: 100px;
    min-height: 75px;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  .button3 {
      padding: 1rem;
      position: absolute;
      font-weight: bold;
      border: transparent;
      color: #fff;
      cursor: pointer;
      left: 50%;
      transform: translate(-50%,-50%);
      bottom: -8rem;
      z-index: 30;
      border-radius: 10rem;
      background-color: rgba(196, 196, 196, 0.2);
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      transition: 0.2s ease-in-out;
  }
  .button3:hover {
      border-radius: 10rem;
      background-color: rgba(196, 196, 196, 0.5);
  }
  .button3:disabled {
    pointer-events: none;
    color: #cfcfcf;
    background-color: rgba(196, 196, 196, 0.1);

  }
  @keyframes cardEnter {
    from {
      transform: translateY(100vh);
      opacity: 0.1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
    
  }