#slider {
    margin: 0 auto;
    width: 100vw;
    /* max-width: 100%; */
    text-align: center;
    box-sizing:border-box;
    background: linear-gradient(#ffe1b5,white);
}
#slider input[type=radio] {
    display: none;
}
#slider label {
    cursor:pointer;
    text-decoration: none;
}
#slides {
    position: relative;
}
/* .slide{
    border-radius: 10px;
} */
.slide-content{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    /* border-radius: 10px; */
    overflow: hidden;

}
.slide-content video{
    position: absolute;
    align-self: center;
    margin: 0;
    padding: 0;
    width: 100vw;

}
#overflow {
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slides .inner {
    transition: margin-left 300ms cubic-bezier(0.77,0,.175,1);
    width: 400%;
    line-height: 0;
    /* height: 20rem; */
}
#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}
.slide_1{
    background: #00171F;
}
/* #slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4){
background: url("/assets/img/right-arrow.svg") no-repeat center;
position: absolute;
z-index: 20;
height: 1.2rem;
width: 1.2rem;
right: 1.5rem;
top: -3rem;
background-color: rgba(252,252,242,0.9);
background-size: 1rem;
background-origin: content-box;
border-radius: 3rem;
}
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3){
background: url("/assets/img/left-arrow.svg") no-repeat center;
position: absolute;
z-index: 20;
height: 1.2rem;
width: 1.2rem;
left: 1.5rem;
top: -3rem;
background-color: rgba(252,252,242,0.9);
background-size: 1rem;
background-origin: content-box;
border-radius: 3rem;
} */
/* Text Box */
/* .title-box{
    text-align: left;
}
.title-box h4{
    font-size: 1rem;
    color: rgba(66, 66, 66, .9);
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
}
.title-box p{
    font-size: 1rem;
    color: rgba(66, 66, 66, .7);
    padding: 0;
    margin: 0;
} */
/* image-model */
/* @keyframes rotate {
	to {
		--angle: 360deg;
	}
}
@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
} */




.video-mask{
    z-index: 2;
    position: relative;
    margin-bottom: -100vh;
    background: rgba(201, 201, 201, .9);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(201, 201, 201, 0.6);
    /* background: 
    radial-gradient(
        at 50% 50% , transparent 10rem, rgba(66, 66, 66, .6) 15rem
    ); */
}

    /* -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%); */


.video-mask:hover{
    backdrop-filter: blur(0px);
    color: rgba(201, 201, 201, 0.8);
}
