<div class="slider">
  <div class="slide-track">
    <!-- Duplicate images for seamless looping -->
    <img src="/assets/img/us/jovani-1.jpg" alt="1" />
    <img src="/assets/img/us/jovani-2.jpg" alt="2" />
    <img src="/assets/img/us/JUL_3669.jpg" alt="16" />
    <img src="/assets/img/us/JUL_3712.jpg" alt="17" />
    <img src="/assets/img/us/JUL_3728.jpg" alt="18" />
    <img src="/assets/img/us/jovani-3.jpg" alt="3" />
    <img src="/assets/img/us/JUL_3799.jpg" alt="19" />
    <img src="/assets/img/us/JUL_3806.jpg" alt="20" />
    <img src="/assets/img/us/JUL_3961.jpg" alt="21" />
    <img src="/assets/img/us/jovani-6.jpg" alt="4" />
    <img src="/assets/img/us/JUL_3979.jpg" alt="22" />
    <img src="/assets/img/us/jovani-7.jpg" alt="5" />
    <img src="/assets/img/us/JUL_4127.jpg" alt="23" />
    <img src="/assets/img/us/JUL_4158.jpg" alt="24" />
    <img src="/assets/img/us/JUL_4166.jpg" alt="25" />
    <img src="/assets/img/us/jovani-8.jpg" alt="6" />
    <img src="/assets/img/us/jovani-11.jpg" alt="7" />
    <img src="/assets/img/us/JUL_4301.jpg" alt="26" />
    <img src="/assets/img/us/JUL_4364.jpg" alt="27" />
    <img src="/assets/img/us/JUL_4414.jpg" alt="28" />
    <img  class = "translate-left" src="/assets/img/us/JUL_4499.jpg" alt="29" />
    <img src="/assets/img/us/JUL_4601.jpg" alt="30" />
    <img src="/assets/img/us/jovani-12.jpg" alt="8" />
    <img src="/assets/img/us/JUL_4656.jpg" alt="31" />
    <img src="/assets/img/us/JUL_4707.jpg" alt="32" />
    <img class = "translate-left" src="/assets/img/us/JUL_4955.jpg" alt="33" />
    <img src="/assets/img/us/JUL_4997.jpg" alt="34" />
    <img src="/assets/img/us/jovani-13.jpg" alt="9" />
    <img src="/assets/img/us/jovani-14.jpg" alt="10" />
    <img class = "translate-left" src="/assets/img/us/JUL_5211.jpg" alt="35" />
    <img class = "translate-left" src="/assets/img/us/JUL_5230.jpg" alt="36" />
    <img src="/assets/img/us/JUL_5308.jpg" alt="37" />
    <img src="/assets/img/us/JUL_5385.jpg" alt="38" />
    <img src="/assets/img/us/JUL_5438.jpg" alt="39" />
    <img src="/assets/img/us/JUL_5586.jpg" alt="40" />
    <img src="/assets/img/us/jovani-17.jpg" alt="11" />
    <img src="/assets/img/us/jovani-19.jpg" alt="12" />
    <img src="/assets/img/us/jovani-20.jpg" alt="13" />
    <img src="/assets/img/us/JUL_5652.jpg" alt="41" />
    <img src="/assets/img/us/JUL_5663.jpg" alt="42" />
    <img src="/assets/img/us/JUL_5727.jpg" alt="43" />
    <img src="/assets/img/us/JUL_5767.jpg" alt="44" />
    <img src="/assets/img/us/jovani-22.jpg" alt="14" />
    <img src="/assets/img/us/jovani-23.jpg" alt="15" />



    





    <img src="/assets/img/us/JUL_5986.jpg" alt="45" />
    <img src="/assets/img/us/JUL_6085.jpg" alt="46" />
    <img src="/assets/img/us/JUL_6108.jpg" alt="47" />
    <img src="/assets/img/us/JUL_6158.jpg" alt="48" />
    <img src="/assets/img/us/JUL_6222.jpg" alt="49" />
    <img src="/assets/img/us/JUL_6268.jpg" alt="50" />
    <img src="/assets/img/us/JUL_6288.jpg" alt="51" />

    

    
    <img src="/assets/img/us/jovani-1.jpg" alt="1" />
    <img src="/assets/img/us/jovani-2.jpg" alt="2" />
    <img src="/assets/img/us/JUL_3669.jpg" alt="16" />
    <img src="/assets/img/us/JUL_3712.jpg" alt="17" />
    <img src="/assets/img/us/JUL_3728.jpg" alt="18" />
    <img src="/assets/img/us/jovani-3.jpg" alt="3" />
    <img src="/assets/img/us/JUL_3799.jpg" alt="19" />
    <img src="/assets/img/us/JUL_3806.jpg" alt="20" />
  </div>
</div>
