<div class="slider">
  <div class="slide-track">
    <!-- Duplicate images for seamless looping -->
    <img src="/assets/img/us/jovani-1.jpg" alt="1" />
    <img src="/assets/img/us/jovani-2.jpg" alt="2" />
    <img src="/assets/img/us/jovani-3.jpg" alt="3" />
    <img src="/assets/img/us/jovani-6.jpg" alt="4" />
    <img src="/assets/img/us/jovani-7.jpg" alt="5" />
    <img src="/assets/img/us/jovani-8.jpg" alt="6" />
    <img src="/assets/img/us/jovani-11.jpg" alt="7" />
    <img src="/assets/img/us/jovani-12.jpg" alt="8" />
    <img src="/assets/img/us/jovani-13.jpg" alt="9" />
    <img src="/assets/img/us/jovani-14.jpg" alt="10" />
    <img src="/assets/img/us/jovani-16.jpg" alt="11" />
    <img src="/assets/img/us/jovani-17.jpg" alt="12" />
    <img src="/assets/img/us/jovani-19.jpg" alt="13" />
    <img src="/assets/img/us/jovani-20.jpg" alt="14" />
    <img src="/assets/img/us/jovani-22.jpg" alt="15" />
    <img src="/assets/img/us/jovani-23.jpg" alt="16" />

    <img src="/assets/img/us/jovani-1.jpg" alt="1" />
    <img src="/assets/img/us/jovani-2.jpg" alt="2" />
    <img src="/assets/img/us/jovani-3.jpg" alt="3" />
    <img src="/assets/img/us/jovani-6.jpg" alt="4" />
    <img src="/assets/img/us/jovani-7.jpg" alt="5" />
    <img src="/assets/img/us/jovani-8.jpg" alt="6" />
    <img src="/assets/img/us/jovani-11.jpg" alt="7" />
    <img src="/assets/img/us/jovani-12.jpg" alt="8" />
    <img src="/assets/img/us/jovani-13.jpg" alt="9" />
    <img src="/assets/img/us/jovani-14.jpg" alt="10" />
    <img src="/assets/img/us/jovani-16.jpg" alt="11" />
    <img src="/assets/img/us/jovani-17.jpg" alt="12" />
    <img src="/assets/img/us/jovani-19.jpg" alt="13" />
    <img src="/assets/img/us/jovani-20.jpg" alt="14" />
    <img src="/assets/img/us/jovani-22.jpg" alt="15" />
    <img src="/assets/img/us/jovani-23.jpg" alt="16" />
  </div>
</div>
