<div id="slider" class="imageSliders" >
<input type="radio" name="slider" id="slide1" checked>
<input type="radio" name="slider" id="slide2">
<input type="radio" name="slider" id="slide3">
<input type="radio" name="slider" id="slide4">
<div id = "slides">
    <div id="overflow">
        <div class="inner">
            <div class="slide slide_1">
                <div class="slide-content">
                    <img [src]= "firstImage" #imageSlider>
                    <!-- <h4>Slide 1</h4>
                    <p>Content for Slide 1</p> -->
                </div>
            </div>
            <div class="slide slide_2">
                <div class="slide-content">
                    <img [src]= "secondImage" #imageSlider> 
                    <!-- <h4>Slide 2</h4>
                    <p>Content for Slide 2</p> -->
                    
                </div>
            </div>
            <div class="slide slide_3">
                <div class="slide-content">
                    <img [src]= "thirdImage" #imageSlider>
                    <!-- <h4>Slide 3</h4>
                    <p>Content for Slide 3</p> -->
                </div>
            </div>
            <div class="slide slide_4">
                <div class="slide-content">
                    <img [src]= "lastImage" #imageSlider>
                    <!-- <h4>Slide 4</h4>
                    <p>Content for Slide 4</p> -->
                </div>
            </div>
        </div>
        <div class="imageModel" (click)= "addImageModel()">
            <img [src] = "profileImage">
        </div>
    </div>
</div>
<div id="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
</div>
<div id="bullets">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
</div>
<div class="title-box">            
    <h4>{{ country }}</h4>
    <p>{{ experience }}
    <br>{{ profession }}
    </p>
</div>
</div>

<app-image-model #imageModelComponent
[tutor] = "tutorId"
[age] = "age"
[race] = "race"
[sex] = "sex"
[yearsTeaching] = "yearsTeaching"
[school] = "school"
[language] = "language"
[occupation] = "profession"
[hobby] = "hobby"
[about] = "about"
[degree] = "degree"
[country] = "country"
>
    
</app-image-model>