/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@font-face {
    font-family: 'WhispSig';
    src: url('assets/fonts/WhisperingSignature.ttf') format('truetype');
  }
@font-face {
    font-family: 'CheesePotato';
    src: url('assets/fonts/CheesePotato.otf') format('opentype');
  }
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@font-face {
  font-family: 'AcademyEngraved';
  src: url('assets/fonts/AcademyEngravedLetPlain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
    font-family: "Open Sans", "sans-serif", "WhispSig";
}
